.root {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 580px;
    flex-shrink: 0;
    position: relative;
}

.freeForever, .wihthoutAds {
    --on-background: #000000;
    --background: #F3FF6C;
    width: 100%;
    position: relative;
    border-radius: 100px;
    z-index: -1;
    flex-shrink: 0;
    overflow: unset;
}

.freeForever {
    padding: 48px 16px;
}


.wihthoutAds {
    --on-background: #861118;
    --background: #FFEEF2;
    padding: 22px 16px;
}


.freeForeverTitle, .wihthoutAdsTitle {
    left: 0;
    right: 0;
    text-align: center;
    max-width: 100%;
}

.freeForeverTitleExclamationPoint {
    position: relative;

    svg {
        position: absolute;
        top: -46px;
        left: 20px;
    }
}

.wihthoutAdsTitleOutline {
    position: relative;

    svg {
        position: absolute;
        top: -46px;
        left: -260px;
    }
}

.imageCard {
    background-color: #FFF0E8;
    border-radius: 36px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.backdropImage, .screenshotImage, .shadowImage {
    position: absolute;
    top: 0px;
    right: -110px;
    width: 660px;
    height: auto;
}

.screenshotImage {
    z-index: 2;
}

.shadowImage {
    z-index: 0;
}

@media (max-width: 1180px) {
    .root {
        height: 490px;
    }
    .backdropImage, .screenshotImage, .shadowImage {
        width: 540px;
        right: -60px;
    }

    .freeForeverTitle, .wihthoutAdsTitle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 980px) {
    .root {
        width: 100%;
        z-index: 1;
    }
    .backdropImage, .screenshotImage, .shadowImage {
        right: 0px;
    }
}

@media screen and (max-width: 510px) {
    .backdropImage, .screenshotImage, .shadowImage {
        right: -105px;
    }
}
