.header {
  min-height: 30vh;
  padding: 220px 48px;
  padding-top: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.description {
  font-weight: 600;
  font-size: 2rem;
  max-width: 780px;
  color: #4F3527;
  line-height: 150%;

  .appName {
    font-weight: 700;
    color: #361400;
  }

  .hobbyProject {
  }

  .notPlanEarnMoney {
    margin: 0px 20px;

    span {
        box-shadow: -16px 0px 0px 2px #FF005C, 16px 0px 0px 2px #FF005C;
        background-color: #FF005C;
        color: #fff;
        box-decoration-break: clone;
        border-radius: 9px;
    }
  }

  .contributeArrowWrapper {
    display: inline-block;
  }

  .contributeArrow {
      position: relative;
      display: inline;

      div {
          position: absolute;
          top: 13px;
          left: 26px;
      }
  }
}

.chipsContainer {
    flex-grow: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    transform: rotate(-25deg);
    width: max-content;
}

.chip {
    padding: 12px 32px;
    padding-right: 22px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 9px;
    font-size: 1.62rem;
    font-weight: 600;
    width: fit-content;

    .icon {
        display: flex;
    }
}

.openSourceChip {
    background-color: #DDF9D0;
    color: #339704;
    transform: translateX(-50px);

    svg {
        color: #339704;
        width: 35px;
        height: 35px;
    }
}

.madeWithLoveChip {
    background-color: #FFEEF2;
    color: #861118;
    transform: translateX(50px);

    svg {
        color: #FF003D;
        width: 35px;
        height: 35px;
    }
}

.gradientContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 300px);
  z-index: -100;
}

.transitionToBackgound {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #ffffff00 0%, #ffffff 300px);
}


@media (max-width: 1250px) {
    .chipsContainer {
        position: absolute;
        right: 0;
        left: -60px;
        margin: auto;
        top: 230px;
        flex-direction: row;
        transform: rotate(356deg);
        z-index: -1;
    }
    .openSourceChip {
        transform: translate(90px, -20px) rotate(-15deg);
    }
    .madeWithLoveChip {
        transform: translateX(0px);
    }
    .header {
        padding-top: 390px;
    }
}

@media (max-width: 940px) {
    .header {
        padding: 200px 48px;
        padding-top: 360px;
    }

    .description {
        text-align: justify;
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    .header {
        padding: 130px 48px;
        padding-top: 360px;
    }

    .description {
        font-size: 1.5rem;
        line-height: 170%;

        .contributeArrow {
            div {
                top: 8px;
            }
            svg {
                width: auto;
                height: 150px;
            }
        }
    }
}

@media (max-width: 640px) {
    .header {
        padding: 110px 36px;
        padding-top: 360px;
    }

    .chipsContainer {
        top: 200px;
        scale: 0.7;
    }

    .description {
        .contributeArrow {
            div {
                top: 10px;
            }
            svg {
                width: auto;
                height: 130px;
            }
        }
    }

}
