.card {
  border-radius: 36px;
  overflow: hidden;
  padding: 36px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--on-background);
  font-size: 1.6rem;
  max-width: 500px;
  font-weight: 800;
  z-index: 1;
}

.subtitle {
  color: var(--on-background-secondary);
  font-size: 1rem;
  font-weight: 600;
  max-width: 500px;
  margin-top: 4px;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cardLink {
  padding: 16px;
  margin-top: 16px;
  border-radius: 16px;
  background-color: var(--background);
  max-width: 360px;
  position: relative;
}

.cardLink:first-child {
  margin-top: auto;
}

.cardLinkContent {
  padding-right: 32px;
}

.icon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.cardLink .title {
  color: var(--on-background);
  font-size: 1.2rem;
  font-weight: 600;
}

.cardLink .subtitle {
  color: var(--on-background-secondary);
  font-size: 0.75rem;
  margin-top: 0;
}