.card {
    --on-background: #000000;
    --on-background-secondary: rgba(0, 0, 0, 0.80);
    --background: #D8E7FF;
    width: 100%;
    height: 580px;
    position: relative;
}

.title, .description {
    text-align: right;
    margin-left: auto;
    right: 0;
}

.mockupPhoneContiner {
    position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
}

.backdropImage {
    z-index: 1;
    bottom: 0;
    left: 0;
    position: absolute;
    width: auto;
    height: 580px;
}
.buchwheatImageMask {
    z-index: 1;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 640px;
    height: 640px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: 50%;
    bottom: -200px;
    left: -140px;
}
.buchwheatImageAnchor {
    bottom: 320px;
    left: 320px;
    position: absolute;

}
.buchwheatImage {
    z-index: 1;
    bottom: -124px;
    left: -180px;
    position: absolute;
    width: 580px;
    height: 580px;
    object-fit: contain;
}

.screenshot {
    z-index: 1;
    bottom: 0;
    left: 0;
    position: absolute;
    width: auto;
    height: 580px;
}
