.card {
    --on-background: #000000;
    --on-background-secondary: rgba(0, 0, 0, 0.80);
    --background: #D8E7FF;
    width: 100%;
    height: 580px;
    position: relative;
}

.title, .description {
    text-align: right;
    margin-left: auto;
    right: 0;
}

.mockupPhoneContiner {
    position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
}

.backdropImage {
    z-index: 1;
    bottom: -1px;
    left: 0;
    position: absolute;
    width: auto;
    height: 560px;
}
.buchwheatImageMask {
    z-index: 1;
    bottom: -1px;
    left: 0;
    position: absolute;
    width: 640px;
    height: 640px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: 50%;
    bottom: -200px;
    left: -140px;
}
.buchwheatImageAnchor {
    bottom: 320px;
    left: 320px;
    position: absolute;

}
.buchwheatImage {
    z-index: 1;
    bottom: -124px;
    left: -180px;
    position: absolute;
    width: 560px;
    height: 560px;
    object-fit: contain;
}

.screenshot {
    z-index: 1;
    bottom: -1px;
    left: 0;
    position: absolute;
    width: auto;
    height: 560px;
}

.tutorialRow {
    position: relative;
    height: 64px;
    width: 281.5px;
    z-index: 10;
    bottom: 124px;
    left: 85px;
    transform: translate3D(0px, 0px, 0px);

    .contentContainer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        animation: slide 5s infinite alternate cubic-bezier(0.75, 0, 0.15, 1);

        .backdrop {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #FFFCFB;
            animation: slideBackdrop 5s infinite alternate cubic-bezier(0.75, 0, 0.15, 1);
        }
        .content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;

            .price {
                color: #000000;
                left: 24px;
                position: absolute;
                top: 10px;
                font-weight: 700;
                font-size: 1.4rem;
            }
            .date {
                color: rgb(0 0 0 / 23%);
                right: 22px;
                position: absolute;
                top: 12px;
                font-weight: 600;
                font-size: 0.5rem;
            }
            .category {
                color: rgba(0, 0, 0, 0.37);
                left: 23px;
                position: absolute;
                top: 41px;
                font-weight: 600;
                font-size: 0.6rem;
            }
        }
    }

    .editBackground, .deleteBackground {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 24px;

        svg {
            width: 23px;
            height: 23px;
        }
    }

    .editBackground {
        background-color: #D8E7FF;
        color: #1C283C;
        animation: slideEdit 5s infinite alternate cubic-bezier(0.75, 0, 0.15, 1);
    }
    .deleteBackground {
        background-color: #ffb3ad;
        color: #681804;
        justify-content: flex-end;
        animation: slideDelete 5s infinite alternate cubic-bezier(0.75, 0, 0.15, 1);
    }
}

@keyframes slide {
    0% {
        transform: translate3D(-74px, 0px, 0px);
    }
    20% {
        transform: translate3D(0px, 0px, 0px);
    }
    80% {
        transform: translate3D(0px, 0px, 0px);
    }
    100% {
        transform: translate3D(74px, 0px, 0px);
    }
}


@keyframes slideBackdrop {
    0% {
        border-radius: 12px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1098039216);
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        left: 4px;
        top: 4px;
    }
    20% {
        border-radius: 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }
    80% {
        border-radius: 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }
    100% {
        border-radius: 12px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1098039216);
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        left: 4px;
        top: 4px;
    }
}

@keyframes slideDelete {
    0% {
        z-index: 1;
        opacity: 1;
    }
    20% {
        z-index: 1;
        opacity: 1;
    }
    20.001% {
        z-index: 1;
        opacity: 0;
    }
    80% {
        z-index: -1;
        opacity: 0;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}

@keyframes slideEdit {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    79.999% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1180px) {
    .card {
        height: 490px;
    }
    .backdropImage {
        height: 490px;
    }
    .buchwheatImageMask {
        width: 550px;
        height: 550px;
        bottom: -170px;
        left: -110px;
    }
    .buchwheatImageAnchor {
        bottom: 275px;
        left: 275px;
    }
    .buchwheatImage {
        bottom: -109px;
        left: -165px;
        width: 490px;
        height: 490px;
    }
    .screenshot {
        height: 490px;
    }
    .tutorialRow {
        left: 57px;
        bottom: 105px;
        scale: 0.87;
    }
}

@media screen and (max-width: 980px) {
    .root {
        width: 100%;
    }
    .backdropImage, .screenshotImage, .shadowImage {
        right: 0px;
    }
}

@media (max-width: 800px) {
    .card {
        height: 320px;
    }
    .buchwheatImageMask {
        bottom: -140px;
    }
    .buchwheatImage {
        bottom: -164px;
    }
}
