.card {
  border-radius: 36px;
  overflow: hidden;
  background-color: #a4a4a41c;
  transition: 0.3s ease;
  backdrop-filter: blur(18px);

  &:hover {
    background-color: #3d3d3d1c;
  }

  a {
    cursor: none;
  }
}

.content {
  display: flex;
  flex-direction: row;
  padding: 22px;
}

.qrCode {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  flex-shrink: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.linkIcon {
  width: 42px;
  height: 42px;
  margin-left: auto;
}

.getText {
  color: #838383;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: auto;
  margin-bottom: -6px;
  margin-right: 8px;
}

.storeNameText {
  color: #242424;
  font-weight: 700;
  font-size: 2rem;
  margin-right: 8px;
}

@media screen and (max-width: 620px) {
  .card {
    padding: 16px;
  }
  .qrCode {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 480px) {
  .qrCode {
    display: none;
  }
  .card {
    padding: 36px;
  }
}
