.card {
  border-radius: 36px;
  overflow: hidden;
  background-color: #f5f5f5;
  transition: 0.3s ease;

  &:hover {
    background-color: #ebeaea;
  }
}

.content {
  display: flex;
  flex-direction: row;
  padding: 16px;
  padding-left: 32px;
  padding-right: 28px;
}

.linkIcon {
  width: 42px;
  height: 42px;
  margin-left: auto;
}

.storeNameText {
  color: #242424;
  font-weight: 700;
  font-size: 2rem;
  margin-right: 8px;
}

@media screen and (max-width: 620px) {
  .card {
    padding: 16px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    padding: 36px;
  }
}
