.card {
  border-radius: 36px;
  overflow: hidden;
  background-color: #a4a4a41c;
  backdrop-filter: blur(18px);

  a {
    cursor: none;
  }
}

.content {
  display: flex;
  flex-direction: row;
  padding: 14px;
  padding-left: 28px;
  padding-right: 22px;
  transition: 0.3s ease;
}

.linkIcon {
  width: 42px;
  height: 42px;
  margin-left: auto;
}

.storeNameText {
  color: #242424;
  font-weight: 700;
  font-size: 2rem;
  margin-right: 8px;
}

@media screen and (max-width: 620px) {
  .content {
    padding: 36px;
  }
}
