.cardWrapper {
  flex-grow: 1;
}

.card {
  --on-background: #A6074A;
  --on-background-secondary: #BD7794;
  --background: #FDE9F1;
  flex-grow: 1;
  position: relative;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContent {
  flex-grow: 0;
  margin: 0;
}

.circlesContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.circlesBackground {
  position: absolute;
  width: 40%;
  padding: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background-color: #FFD4E6;
}

.circlesFroreground {
  position: absolute;
  width: 25%;
  padding: 25%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background-color: #FFBAD7;
}