.noiseOverlay {
  position: absolute;
  top: -500px;
  left: -500px;
  width: calc(100% + 1000px);
  height: calc(100% + 1000px);
  z-index: 10000;
  opacity: 1;
  mix-blend-mode: color-burn;
  background-repeat: repeat;
  background-size: 1024px;
  pointer-events: none;
  will-change: auto;
}

.header {
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.slogan {
  max-width: 1200px;
  width: 100%;
  text-align: justify;
  margin-top: 8px;
  font-size: 4rem;
  font-weight: 600;
  color: var(--on-background);
  display: flex;
  flex-direction: column;
  gap: 56px;

  .line1,
  .line2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px 34px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .thinStarBig {
    position: relative;
    color: #65df44;
    z-index: -1;
    vertical-align: super;
    height: 0;
    display: inline-block;
    transform: translateY(-12px) translateX(-3px);

    svg {
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .spendWord {
    font-weight: 600;
    color: #72b73c;
  }

  .wiselyWord {
    font-size: 6rem;
    line-height: 80%;
    font-weight: 600;
    color: #ff823e;
  }
}

.header p {
  max-width: 530px;
  text-align: center;
  margin-top: 8px;
  font-size: 1.14rem;
  font-weight: 500;
  color: var(--on-background-secondary);
}

.topBar {
  position: absolute;
  max-width: 1400px;
  left: 0;
  top: 100px;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 48px;
  gap: 36px;
}

.logo {
  margin-right: auto;
}

.thickRoundStar6 {
  position: absolute;
  top: 20vh;
  left: -125px;
  z-index: 1;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
}

.thickRoundStar5 {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  z-index: 100000;

  svg {
    position: absolute;
    top: -50px;
    right: 50px;
    transform: translate(-50%, -50%) rotate(-10deg);
    color: #FF8642;
  }
}

.gradientContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;

  .greenGradient,
  .orangeGradient {
    position: absolute;
    width: 1300px;
    height: 1300px;
    //filter: blur(80px);
  }

  .greenGradient {
    right: -2.6%;
    top: -260px;
  }

  .orangeGradient {
    left: 0%;
    bottom: 0%;
  }
}


.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1000;
}

.main {
  padding: 48px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1500px;
  width: 100%;
  align-self: center;
}

.cardsRow {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.card {
  flex-basis: 50%;
}

.storesBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 980px) {
  .header h1 {
    font-size: 1.6rem;
  }

  .header p {
    font-size: 1rem;
  }

  .cardsRow {
    flex-direction: column;
  }

  .howItsWorkCard {
    height: 550px;
    padding: 32px;
  }

  .mockupPhoneContiner {
    top: 25%;
  }

  .mockupPhone {
    width: 700px;
    height: 600px;
  }

  .screenshotMain {
    width: 176px;
  }
}

@media screen and (max-width: 730px) {
  .main {
    padding: 24px;
    gap: 24px;
  }
  .cardsRow {
    gap: 24px;
  }

  .header {
    min-height: 36vh;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 16px;
    gap: 16px;
  }
  .cardsRow {
    gap: 16px;
  }
}
