.noiseOverlay {
  position: absolute;
  top: -500px;
  left: -500px;
  width: calc(100% + 1000px);
  height: calc(100% + 1000px);
  z-index: 10000;
  opacity: 1;
  mix-blend-mode: color-burn;
  background-repeat: repeat;
  background-size: 1024px;
  pointer-events: none;
  will-change: auto;
}

.header {
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.slogan {
  max-width: 1300px;
  width: 100%;
  padding: 0px 50px;
  text-align: justify;
  margin-top: 8px;
  font-size: 4rem;
  font-weight: 600;
  color: var(--on-background);
  display: flex;
  flex-direction: column;
  gap: 56px;

  .line1,
  .line2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px 34px;
    justify-content: space-between;
    flex-wrap: wrap;

    span {
      color: #000;
    }
  }

  .thinStarBig {
    position: relative;
    color: #65df44;
    z-index: -1;
    vertical-align: super;
    height: 0;
    display: inline-block;
    transform: translateY(-12px) translateX(-3px);

    svg {
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .spendWord {
    font-weight: 600;
    color: #72b73c !important;
  }

  .wiselyWord {
    font-size: 6rem;
    line-height: 80%;
    font-weight: 600;
    color: #ff823e !important;
  }
}

.header p {
  max-width: 530px;
  text-align: center;
  margin-top: 8px;
  font-size: 1.14rem;
  font-weight: 500;
  color: var(--on-background-secondary);
}

.thickRoundStar6 {
  position: absolute;
  top: 20vh;
  left: -125px;
  z-index: 0;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
}

.thickRoundStar5 {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  z-index: 100000;

  div {
    position: absolute;
    top: -50px;
    right: 50px;
    transform: translate(-50%, -50%) rotate(-10deg);
    color: #ff8642;
  }
}

.gradientContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 300px);
  z-index: -100;
}

.transitionToBackgound {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #ffffff00 0%, #ffffff 300px);
  transform: translate3D(0, 0, 0);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1000;
}

.main {
  padding: 48px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1500px;
  width: 100%;
  align-self: center;
}

.cardsRow {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.card {
  flex-basis: 50%;
}

.storesBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 1240px) {
  .main {
    padding: 36px;
    gap: 36px;
  }
  .cardsRow {
    gap: 36px;
  }
}

@media screen and (max-width: 980px) {
  .slogan {
    font-size: 3rem;
    gap: 16px;

    .wiselyWord {
      font-size: 4.6rem;
    }
  }

  .cardsRow {
    flex-direction: column;
  }

  .howItsWorkCard {
    height: 550px;
    padding: 32px;
  }

  .mockupPhoneContiner {
    top: 25%;
  }

  .mockupPhone {
    width: 700px;
    height: 600px;
  }

  .screenshotMain {
    width: 176px;
  }
}

@media screen and (max-width: 800px) {
  .main {
    padding: 24px;
    gap: 24px;
  }
  .cardsRow {
    gap: 24px;
  }
}

@media screen and (max-width: 730px) {
  .main {
    padding: 24px;
    gap: 24px;
  }
  .cardsRow {
    gap: 24px;
  }
}

@media screen and (max-width: 640px) {
  .thickRoundStar6 {
    width: 125px;
    height: 125px;
    left: -62px;
    top: 8vh;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 16px;
    gap: 16px;
  }
  .slogan {
    font-size: 2rem;
    padding: 0px 12px;
    gap: 16px;
  }
  .wiselyWord {
    font-size: 3rem !important;
  }
  .cardsRow {
    gap: 16px;
  }
}
