.card {
  --on-background: #562f1b;
  --on-background-secondary: #906f5e;
  --background: #fff1ea;
  width: 100%;
  height: 650px;
  position: relative;
}

.mockupPhoneContiner {
  position: absolute;
  top: 4%;
  right: 5%;
}

.mockupPhone {
  z-index: 1;
  position: relative;
}

.screenshotMain {
  position: absolute;
  top: 12.6%;
  right: 17.4%;
  transform: rotate(6.19deg);
  width: 261px;
  height: auto;
}

.description {
  z-index: 1000 !important;
  padding: 8px;
  margin: -8px;
  margin-top: 0;
  padding-top: 6px;
}

@media screen and (max-width: 800px) {
  .card {
    height: 550px;
    padding: 32px;
  }

  .mockupPhoneContiner {
    top: 25%;
  }

  .mockupPhone {
    width: 700px;
    height: 600px;
  }

  .screenshotMain {
    width: 176px;
  }
}

@media screen and (max-width: 730px) {
  .description {
    background-color: #fff1ea;
  }
}

@media screen and (max-width: 480px) {
  .mockupPhoneContiner {
    right: -5%;
  }
}
