.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 48px 48px;
  max-width: 1500px;
  margin: auto;
}

.fatLittleStar {
  position: relative;
  margin-right: auto;
  transform: translate(30px, 10px);
  color: #33db2c;
  z-index: -1;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
}

.author {
  font-weight: 700;
}

.danilkinkin {
  color: #ff006b;
  cursor: none !important;
}
