.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.vertical {
  flex-direction: column;
}

.icon {
  width: 60px;
}

.title {
  font-weight: 800;
  font-size: 1.75rem;
}