.card {
  --on-background: #59321c;
  --on-background-secondary: #866655;
  --background: #ffefe9;
  min-width: 270px;
  height: 580px;
  position: relative;
}

.description {
  padding: 8px;
  margin: -8px;
  margin-top: 0;
  padding-top: 6px;
}

.heartContiner {
  position: absolute;
  bottom: -18%;
  right: -17%;
  z-index: 0;
}

.heartImage {
  width: 420px;
  height: auto;
}

@media screen and (max-width: 980px) {
  .card {
    height: min-content;
  }
  .heartContiner {
    bottom: -32%;
    right: -4%;
  }
}

@media screen and (max-width: 820px) {
  .heartContiner {
    bottom: -42%;
    right: -4%;
  }

  .heartImage {
    width: 300px;
  }
  .content {
    margin-top: 0;
  }
}
