.root {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 510px;
    height: 580px;
    flex-shrink: 0;
    position: relative;
}

.textCard {
    --on-background: #000000;
    --on-background-secondary: rgba(0, 0, 0, 0.80);
    --background: #F3FF6C;
    width: 100%;
    position: relative;
    border-radius: 100px;
    z-index: -1;
    flex-shrink: 0;
    padding: 26px 36px;
}

.textCardTitle, .textCardDescription {
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.imageCard {
    background-color: #FFF0E8;
    border-radius: 36px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.backdropImage, .screenshotImage, .shadowImage {
    position: absolute;
    top: 0;
    right: -50px;
    width: 565px;
    height: auto;
}

.screenshotImage {
    z-index: 2;
}

.shadowImage {
    z-index: 0;
}

@media (max-width: 1180px) {
    .root {
        height: 490px;
    }
    .backdropImage, .screenshotImage, .shadowImage {
        width: 480px;
        right: -20px;
    }

    .textCardTitle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 980px) {
    .root {
        width: 100%;
    }
    .backdropImage, .screenshotImage, .shadowImage {
        right: 0px;
    }
}

@media screen and (max-width: 800px) {
    .root {
        height: 460px;
    }
}

@media screen and (max-width: 450px) {
    .backdropImage, .screenshotImage, .shadowImage {
        right: -55px;
    }
}
