.langSwitcher {
  position: relative;
  z-index: 1000;
}

.currentLanguage {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--on-background-secondary)
}

.selector {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--background);
  padding: 8px 8px;
  border-radius: 16px;
  border: 1px solid var(--divider);
  box-shadow: 0px 4px 16px #00000014;
  background-color: #fafafa;
  z-index: 1000;

  pointer-events: none;
  opacity: 0;
}

.openSelector {
  pointer-events: all;
  opacity: 1;
}

.selector ul {
  list-style: none;
}

.selector li {
  font-size: 1rem;
  font-weight: 600;
  padding: 4px 16px;
}

.selector li:hover {
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--divider);
}