.header {
  min-height: 30vh;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.langSwitcher {
  position: absolute;
  max-width: 1500px;
  left: 0;
  top: 24px;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 48px;
  gap: 24px;
}

.reviewCard {
  margin-top: 48px;
  border-bottom-left-radius: 40px !important;
  border-bottom-right-radius: 40px !important;
  overflow: unset !important;
  --on-background: #303309;
  --on-background-secondary: #616825;
  --background: #e6f45d;
}

.reviewCardContent {
  margin: -36px;
  margin-top: 36px !important;
}

.googlePlayButton {
  width: 100%;
}

.main {
  padding: 48px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1500px;
  width: 100%;
  align-self: center;
}

.description {
  margin-top: 36px;
  font-weight: 600;
  font-size: 1rem;
  max-width: 700px;
  color: rgba(0, 0, 0, 0.67);

  .bold {
    font-weight: 700;
    color: #000;
  }
}

.cardsRow {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

@media (prefers-color-scheme: dark) {
  .description {
    color: rgb(193, 193, 193);

    .bold {
      color: #fff;
    }
  }
  .reviewCard {
    --on-background: #191c00;
    --on-background-secondary: #171a00;
    --background: #7d880e;
  }
}

@media screen and (max-width: 980px) {
  .cardsRow {
    flex-direction: column;
  }
  .reviewCard {
    margin-top: 0;
  }
}

@media screen and (max-width: 730px) {
  .main {
    padding: 24px;
    gap: 24px;
  }
  .cardsRow {
    gap: 24px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 16px;
    gap: 16px;
  }
  .cardsRow {
    gap: 16px;
  }
}
