.cardContainer {
  width: 100%;
  position: relative;
}

.card {
  --on-background: #fff;
  --on-background-secondary: #d0d0d0;
  --background: #000;
  min-height: 500px;
  width: 100%;
}

.link {
  --on-background: #000;
  --on-background-secondary: #666666;
  --background: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    --background: #e0e0e0;
  }
}

.captionLink {
  position: absolute;
  font-size: 14px;
  margin-top: 12px;
  margin-left: 36px;
  margin-right: 36px;
  color: #4b4b4b;
  font-weight: 500;

  svg {
    margin-right: 6px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    display: inline-block;
    transform: translateY(-1px);
  }

  a {
    color: #c7441a;
    text-decoration: underline;
  }
}

@media screen and (max-width: 980px) {
  .captionLink {
    position: relative;
  }
}