.cardContainer {
  width: 100%;
  position: relative;
}

.card {
  --on-background: #015BBB;
  --on-background-secondary: #584A00;
  --background: #FED500;
  min-height: 500px;
  width: 100%;
  position: relative;
}

.link {
  --on-background: #000;
  --on-background-secondary: rgba(0, 0, 0, 0.6);
  --background: rgba(226, 190, 0, 0.48);
  z-index: 1;
  transition: background-color 0.3s ease;

  &:hover {
    --background: rgb(195 164 0 / 48%);
  }
}

.ukraineMap {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 6%;
  color: #f6ce00;
  height: 80%;
}

.captionLink {
  position: absolute;
  font-size: 14px;
  margin-top: 12px;
  margin-left: 36px;
  margin-right: 36px;
  color: #4b4b4b;
  font-weight: 500;

  svg {
    margin-right: 6px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    display: inline-block;
    transform: translateY(-1px);
  }

  a {
    color: #c7441a;
    text-decoration: underline;
  }
}

@media screen and (max-width: 760px) {
  .ukraineMap {
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 980px) {
  .captionLink {
    position: relative;
  }
}