.card {
  --on-background: #015BBB;
  --on-background-secondary: #584A00;
  --background: #FED500;
  min-height: 500px;
  width: 100%;
  position: relative;
}

.link {
  --on-background: #000;
  --on-background-secondary: rgba(0, 0, 0, 0.6);
  --background: rgba(226, 190, 0, 0.48);
  z-index: 1;
  transition: background-color 0.3s ease;
}

.link:hover {
  --background: rgb(195 164 0 / 48%);
}

.ukraineMap {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 6%;
}