.card {
    --on-background: #232206;
    --on-background-secondary: #76743E;
    --background: #FFFCB4;
    width: 100%;
    height: 580px;
    position: relative;
}

.mockupPhoneContiner {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.backdropImage {
    z-index: 1;
    bottom: 0;
    left: 0;
    position: absolute;
    width: auto;
    height: 650px;
}

.buchwheatImageMask {
    z-index: 1;
    position: absolute;
    width: 640px;
    height: 640px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: 50%;
    bottom: -140px;
    right: -140px;
}

.buchwheatImageAnchor {
    bottom: 320px;
    left: 320px;
    position: absolute;

}

.buchwheatImage {
    z-index: 1;
    bottom: -400px;
    left: -400px;
    position: absolute;
    width: 800px;
    height: 800px;
}

.screenshot {
    z-index: 1;
    bottom: 0;
    left: 0;
    position: absolute;
    width: auto;
    height: 650px;
}

.smallWidgetsLine {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    right: -50px;
    bottom: 260px;
    transform-origin: right center;
    transform: rotate(4deg);

    svg {
        width: 220px;
        height: auto;
    }
}

.bigWidgetsLine {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    right: -280px;
    bottom: 100px;
    transform-origin: right center;
    transform: rotate(356deg);
    gap: 9px;

    svg {
        width: 260px;
        height: auto;
    }
}
